ion-title {
    text-align: center;
}

ion-list {
    margin-top: 10%;
}

.center {
    text-align: center;
}

.center {
    text-align: center;
}

.classcenter {
    align-items: center;
    display: block;
}

.admin1 {
    display: none;
    text-align: center;
}

.cliente1 {
    display: none;
}

ionic-input {
    display: block;
    margin: auto;
}

.img {
    align-items: center;
    height: 40%;
    width: 40%;
}