ion-title {
    text-align: center;
}

ion-list {
    margin-top: 10%;
}

.center {
    text-align: center;
}

.admin1 {
    display: none;
    position: relative;
}

admin1.ion-input {
    width: 100%;
}

.cliente1 {
    display: none;
    position: relative;
}

ionic-input {
    display: block;
    margin: auto;
}