.col-1 {
    width: 25%;
}

.col-2 {
    width: 50%;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.col-3 {
    width: 25%;
    font-size: 11px;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.dpto {
    color: rgb(1, 49, 53)
}

.id {
    color: rgb(23, 100, 100);
}