<ion-app>
    <div class="ion-page">
        <ion-header>
            <ion-toolbar color="secondary">
                <ion-buttons slot="start">
                    <ion-back-button defaultHref="/"></ion-back-button>
                </ion-buttons>
                <ion-title>Reportes</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding reportes">
            <button ion-button full (click)="createPDFfood()">Reporte Departamento de Comida</button>
            <br>
            <button ion-button full (click)="createPDFelectronics()">Reporte Departamento de Electrinicos</button>
            <br>
            <button ion-button full (click)="createPDFstationery()">Reporte Departamento de Papeleria</button>
            <br>
            <button ion-button full (click)="createPDFclothes()">Reporte Departamento de Ropa</button>
            <br>

            <button ion-button full>Reporte de Ventas Diarias</button>
        </ion-content>
    </div>
</ion-app>