<ion-app>


    <div class="ion-page">
        <ion-header>
            <ion-toolbar color="secondary">
                <ion-buttons slot="start">
                    <ion-back-button defaultHref="/"></ion-back-button>
                </ion-buttons>
                <ion-title>Subsidiarys</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
            <ion-content>
                <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&height=600&hl=es&coord=33.6396965, -84.4304574&q=JHQ9%2BVR%20College%20Park%2C%20Georgia%2C%20EE.%20UU.+(Bodegas)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0"
                        scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/calcular-ruta.html">Mapa de Ruta</a></iframe></div><br />
            </ion-content>
        </ion-content>
    </div>
</ion-app>